<div class="container mb-3" style="width: 65vw"><!--container-->
  <div class="card mb-5"><!--card-->

    <div class="card-header">
      Comments
    </div>

    <%= yield %>


    <div class="card-body"><!--card-body-->

      <% @comments.each do |comment| %><!--#looping-->
        <blockquote class="blockquote mb-3">

          <p class="fs-6">
            <%= comment.content %>
          </p>

          <footer class="blockquote-footer fs-6 d-flex flex-row gap-2">

            <div>
              <span>
                <%= comment.commenter.username %> <cite title="Source Title"><small>@ <% if comment.created_at==comment.updated_at %> <%= comment.created_at %><% else %><%= comment.updated_at %> (edited)<% end %></small></cite>
              </span>
            </div>

            <% if current_user==comment.commenter || admin? %><!--#ownership-->
              <div>
                <a href="/posts/<%= @post.id %>/comments/<%= comment.id %>/edit">
                  <button class="badge rounded-pill bg-warning"><small>Edit</small></button>
                </a>
              </div>
              <div>
                <form action="/posts/<%= @post.id %>/comments/<%= comment.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <button type="submit" class="badge rounded-pill bg-danger"><small>Delete</small></button>
                </form>
              </div>
            <% end %><!--#ownership-->

          </footer>

        </blockquote>
        <% end %><!--#looping-->

    </div><!--card-body-->
  </div><!--card-->
</div><!--container-->