<% if flash[:message] %><!--#flash message-->
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <span><%= flash[:message] %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %><!--#flash message-->

<div class="container mt-5 mb-3 d-flex justify-content-center" style="width: 100vw;"><!--container to center bootstrap card-->

  <div class="card" style="width: 60vw;"><!--bootstrap card-->

    <div class="ratio ratio-16x9 card-img-top">
      <iframe src="https://www.youtube.com/embed/<%= video_id(@post.youtube) %>?rel=0;&autoplay=1&mute=1" title="YouTube video" allowfullscreen></iframe>
    </div>

    <p class="text-center"><a href="<%= @post.youtube %>" target="_blank">If the video does not play, click here.</a></p>

    <div class="card-body"><!--card-body-->

      <div class="d-flex flex-row"><!--title & delete-->
        <h5 class="card-title"><%= @post.title %></h5>
        <% if owner?(@post.user) || super? %>
        <form action="/posts/<%= @post.id %>" method="post" class="ms-auto">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        <% end %>
      </div><!--title & delete-->

      <div class="d-flex flex-row"><!--author & time-->
        <p><em>by <%= @post.user.username %></em></p>
        <small class="mute ms-auto"><% if @post.created_at == @post.updated_at %>created at <%= @post.created_at %><% else %>edited at <%= @post.updated_at %><% end %></small>
      </div><!--author & time-->

      <hr>

      <p class="card-text"><%= @post.content %></p>

      <% if owner?(@post.user) || admin? %>
      <a href="/posts/<%= @post.id %>/edit">Edit this Vlog</a>
      <% end %>

      <div class="float-end">
        <a href="/posts" class="btn btn-light">Back to List</a>
      </div>    

    </div><!--card-body-->
  </div><!--bootstrap card-->
</div><!--container to center bootstrap card-->

<%= yield %>
